<!--{% extends 'learning_logs/base.html' %}-->
<!--{% block page_header %}-->
<!--    <div class="p-3 mb-4 bg-light border rounded-3">-->
<!--        <div class="container-fluid py-4">-->
<!--            <h1 class="display-3">Welcome to Your Learning Log</h1>-->
<!--            <p class="lead"><p>This is your personal space to track and reflect on your learning journey. Whether you're exploring new topics, delving deeper into your favorite subjects, or simply keeping a record of what you've learned, this log helps you organize and review your progress.</p>-->

<!--            <p>Use this platform to:</p>-->
<!--            <ul>-->
<!--                <li><strong>Create and manage topics:</strong> Start a new topic for every area you're learning about.</li>-->
<!--                <li><strong>Add detailed entries:</strong> Keep track of your insights, questions, and progress on each topic.</li>-->
<!--                <li><strong>Review your learning history:</strong> Revisit your past entries and see how far you've come.</li>-->
<!--            </ul>-->
<!--            <p>Let's get started—explore your current topics or add a new one to begin your next adventure in learning!</p>-->
<!--            <a class="btn btn-primary btn-lg mt-1"-->
<!--            href="{%url 'accounts:register'%}">Register &raquo;</a>-->
<!--        </div>-->
<!--    </div>-->
<!--{%endblock page_header%}-->